@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Paytone+One&family=Squada+One&display=swap");

html,
body {
  font-family: "Noto Sans TC", "Squada One", cursive, sans-serif;  //注意"Squada One"優先的話，search文字會跑版
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  display: inline-block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
.table {
  margin: 0;
}

html {
  /*網頁右測scoll欄*/
  
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $dark;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 30px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: darken($primary, 20);
  }
}