.btn-more {
    padding: 8px 48px;
    border: .8px solid $dark;
    font-size: 1.125rem;
    font-family: 'Squada One', cursive;
    display: inline-block;
    line-height: 19px;
    transition: all .15s ease-in-out;
}

.btn-triangle  {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        border-left: 16px transparent solid;
        border-bottom: 16px #E6553B solid;
    }

    &:hover {
        background-color: $primary;
        color: $light;

        &::after {
            border-bottom: 16px solid $dark;
        }
    }
  }

.btn-more-light {
    background-color: $light;
    color: $dark;

    &:hover {
        background-color: $primary;
        color: $light;
    }
}

.btn-plus {
    width: 0;
    height: 0;
    padding: 0;
    border-style: solid;
    border-width: 0 0 32px 32px;
    border-color: transparent transparent #000000 transparent;

    &:focus {
        box-shadow: none;
    }

    &::before {
        content: '+';
        position: absolute;
        color: $light;
        width: 10px;
        height: 10px;
        bottom: -20px;
        right: 4px;
    }

    &.active {
        width: 0;
        height: 0;
        padding: 0;
        border-style: solid;
        border-width: 0 0 32px 32px;
        border-color: transparent transparent $primary transparent;

        &::before {
            content: '–';
            position: absolute;
            color: $light;
            width: 10px;
            height: 10px;
            bottom: -20px;
            right: 4px;
        }
    }
}